
.back{
    margin: 0 auto;
    text-align: center;
    padding-left: 35%;
    text-decoration: none;
    color: black;
    font-size: 22px;
    &:hover{
        color: #5ECE7B;
    }
}
.summary{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 200px;
    h3,h4{
        margin: 0;
    }
}