main{
    padding-left: 50px;
    padding-right: 50px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;

}
.single-item{
    &_cartIcon{
        background-color: #5ECE7B;
        position: relative;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        bottom: 150px;
        left: 350px;
        cursor: pointer;
        
        img{
            position: absolute;
            left: 12px;
            top: 15px;
            width: 24px;
            height: 24px;
            color: wheat;
            
        }
    }
}