main{
    padding-left: 70px;
    max-width: 1000px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    max-width: 1000px;

}
.single-item{
    &:hover{
        .single-item_cartIcon{
            display: block;
            background-color: #5ECE7B;
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            bottom: 100px;
            left: 300px;
            cursor: pointer;
            transition: transform 0.2s;
            img{
                position: absolute;
                left: 12px;
                top: 15px;
                width: 30px;
                height: 30px;
                color: wheat;
                
            }
            &:hover{
                transition: transform 0.5s;
                transform: scale(1.1);
            }
       
        
        }
    }
    
}