.app {
    header{
        margin-left: 50px;
        margin-right: 50px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        color: black;
        height: 80px;
        &__logo{
            height: 42px;
            justify-content: center;
            
        }
        &__right{
            .cart_icon{
                position: relative;
                height: 22px;
                width: 22px;
                display: flex;
                .circle{
                    position: absolute;
                    left: 18px;
                    bottom: 12px;
                    border-radius: 50%;
                    background-color: black;
                    color: white;
                    width: 20px;
                    height: 20px;
                    display: flex; align-items: center; justify-content: center;
                    p{
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 17px;
                        padding-bottom: 1px;
                    }
                    
                }

            }
            display: flex;
            align-items: center;
        }
        
    }
    nav{
        ul{
            display: flex;
                justify-content: space-between;
                padding: 0;
            li{
                list-style-type: none;
                margin-left: 20px;
                border-bottom: 1px solid white ;
                
                &:hover{
                    color: #5ECE7B;
                
                    border-bottom: 1px solid #5ECE7B ;
                }
            }
               
        }
    }
    .opened{
        display: block;
    }
    .closed{
        display: none;
    }
    
   
    
}
